# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# compiled output
/dist

# IDEs and editors
.angular/cache
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#env
.env
src/environments/*
src/environments/.gitkeep

db.json
