<tui-island (click)="cardClick.emit(item.id)" [hoverable]="true">
    <div class="tui-island__content">
        <div class="tui-island__close">
            <button
                (click)="delete.emit(item.id)"
                appearance="icon"
                icon="tuiIconTrashLarge"
                size="m"
                tuiIconButton
            ></button>
        </div>
    </div>
    <p *ngIf="category" class="tui-island__category">{{ category }}</p>
    <h3 class="tui-island__title">{{ item.name }}</h3>
    <div class="container">
        <img *ngIf="item.imgUrl" [src]="item.imgUrl" alt="img">
        <div class="tui-island__paragraph">
            {{ item.description }}
        </div>
    </div>
</tui-island>
