<div class="tui-container tui-container_adaptive">
    <h2 class="tui-text_h3 tui-space_vertical-5">Список фильмов</h2>

    <div class="tui-space_bottom-2">
        <app-search>Добавить фильм</app-search>
    </div>


    <!--    <tui-hosted-dropdown-->
    <!--        #dropdown-->
    <!--        [(open)]="dropdownOpen"-->
    <!--        [content]="content"-->
    <!--    >-->
    <!--        <button-->
    <!--            [icon]="(viewType$ | async)?.icon"-->
    <!--            [pseudoHover]="dropdown.open || null"-->
    <!--            appearance="flat"-->
    <!--            tuiIconButton-->
    <!--            type="button"-->
    <!--        ></button>-->
    <!--    </tui-hosted-dropdown>-->

    <ng-template
        #content
        let-activeZone
    >
        <tui-data-list
            [tuiActiveZoneParent]="activeZone"
            size="m"
            tuiDataListDropdownManager
        >
            <button
                (click)="selectViewType(item)"
                *ngFor="let item of items"
                tuiOption
            >
                <!--            <tui-svg [src]="item.icon"></tui-svg>-->
                <span>{{item.label}}</span>
            </button>
        </tui-data-list>
    </ng-template>

    <ng-container [ngSwitch]="(viewType$ | async)?.value">
        <ng-container *ngSwitchCase="viewType.Cards">
            <ng-container *ngTemplateOutlet="cardsView"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="viewType.List">
            <ng-container *ngTemplateOutlet="listView"></ng-container>
        </ng-container>
    </ng-container>

</div>
<ng-template #cardsView>
    <div class="cards">
        <app-card
            (cardClick)="goToDetailed(film.id)"
            (delete)="removeFilm(film.id)"
            *ngFor="let film of (filmList$ | async)"
            [category]="'Фильм'"
            [item]="film"
            class="cards__card"
        >
        </app-card>
    </div>
</ng-template>

<ng-template #listView>
    <ul (infiniteScroll)="onScroll()" class="list">
        <li
            #parent="tuiActiveZone"
            (tuiActiveZoneChange)="onParentActiveZone($event)"
            *ngFor="let film of (filmList$ | async)"
            class="list__item">
            <div
                #element
                (click)="goToDetailed(film.id)"
                (tuiSwipe)="onSwipe($event, element)"
                class="film__content"
            >
                <div *ngIf="film.imgUrl" class="film__poster">
                    <img [src]="film.imgUrl" alt="img" class="responsive">
                </div>

                <div class="film__text">
                    <p class="film__name">{{film.name}}</p>
                    <p
                        *ngIf="film.comments[0]?.comment"
                        class="film__comment"
                    >
                        {{film.comments[0].comment}}
                    </p>
                </div>

                <!--                <button-->
                <!--                    (click)="removeFilm(film.id, $event)"-->
                <!--                    appearance="flat"-->
                <!--                    class="film__remove"-->
                <!--                    icon="tuiIconTrashLarge"-->
                <!--                    size="m"-->
                <!--                    tuiIconButton-->
                <!--                ></button>-->
            </div>
            <div class="film__remove">
                <button
                    (click)="removeFilm(film.id, $event)"
                    appearance="flat"
                    icon="tuiIconTrashLarge"
                    size="m"
                    tuiIconButton
                ></button>
            </div>
        </li>
    </ul>
</ng-template>
