<div *ngIf="searchResult.poster_path && getImg(searchResult.poster_path) as posterImage" class="poster">
    <img [src]="posterImage" alt="img" class="responsive" height="50" width="50">
</div>

<div class="answer-text">
    {{searchResult.original_title}}
</div>

<button (click)="onAddClick($event)" appearance="flat" icon="tuiIconPlusCircleLarge" size="m" tuiIconButton>
</button>


<!--<button (click)="showDialog()" appearance="icon" icon="tuiIconInfoLarge" size="m" tuiIconButton>-->
<!--</button>-->

<!--    <button (click)="context.complete()"></button>-->

