<tui-root>
    <div class="tui-container tui-container_adaptive">
        <app-header></app-header>
        <!--        <app-assistant></app-assistant>-->

        <!--        <app-films></app-films>-->

        <div class="page">
            <router-outlet></router-outlet>
        </div>

        <!--        <div>-->
        <!--            <h3 class="tui-text_h3">Check media</h3>-->
        <!--            <button tuiButton (click)="getMicrophone()">Сабмит</button>-->
        <!--        </div>-->
    </div>
</tui-root>
