<h2 class="tui-text_h3 tui-space_vertical-5">Список фильмов</h2>

<!--<form (submit)="getDescription()">-->
<!--<tui-input [formControl]="input" class="tui-space_vertical-5">-->
<!--    Поиск по названию-->
<!--</tui-input>-->

<!--<button (click)="getDescription()" tuiButton> Найти</button>-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->


<!--<button (click)="addFilm()" tuiButton>Добавить фильм</button>-->
<div class="container">
    <app-card
        (delete)="removeFilm($event)"
        *ngFor="let film of filmList$ | async"
        [category]="'Фильм'"
        [item]="film"
    >
    </app-card>
</div>
