<tui-input (keydown.enter)="submit()" [formControl]="input" class="tui-space_vertical-5">
    Введи что хочешь
</tui-input>

<button (click)="submit()" [showLoader]="isLoading" tuiButton>Отправить</button>

<!--<tui-loader [showLoader]="isLoading">-->
<ng-container *ngIf="answer$ | async as answers">
    <div *ngIf="answers.length">
        <h3 class="tui-text_h3">Ответы</h3>

        <!--        <div *ngFor="let choice of answer.choices">-->
        <!--            <div *ngFor="let film of getListFromText(choice.text)">-->
        <!--                {{film}}-->
        <!--                <button (click)="getDescription(film)" size="s" tuiButton>-->
        <!--                    download info-->
        <!--                </button>-->
        <!--            </div>-->
        <!--        </div>-->
        <div @tuiFadeInList class="container">
            <div *ngFor="let answer of answers" class="answer">
                <app-assistant-answer [answer]="answer"></app-assistant-answer>
                <!--                <app-card-->
                <!--                    [category]="'movie'"-->
                <!--                    [item]="getItem(answer)"-->
                <!--                ></app-card>-->
            </div>
        </div>

    </div>
</ng-container>

<!--</tui-loader>-->


<ng-template #dialog let-context let-data="data">
    <!--    <button (click)="context.complete()"></button>-->
    <app-card
        [category]="'movie'"
        [item]="data"
    ></app-card>
</ng-template>
