<div class="answer-text">
    {{answer}}
</div>
<!--<button (click)="toggle(true)" (tuiActiveZoneChange)="toggle($event)" apperance="secondary" size="m" tuiButton>-->
<!--    Подробнее-->

<!--    <div *tuiSidebar="openSideBar; direction: 'right'">-->
<!--        <tui-scrollbar>-->
<!--            <ng-container *ngIf="getDescription(answer) | async as film">-->

<!--            </ng-container>-->
<!--        </tui-scrollbar>-->


<!--    </div>-->
<!--</button>-->

<button (click)="addFilm()" appearance="icon" icon="tuiIconPlusCircleLarge" size="m" tuiIconButton>
</button>

<button (click)="showDialog()" appearance="icon" icon="tuiIconInfoLarge" size="m" tuiIconButton>

</button>

<!--    <button (click)="context.complete()"></button>-->

